*.iml
.idea
libs

# C project ignore files
###############################################################################
*.o

# Haskell project ignore files
###############################################################################
dist
cabal.sandbox.config
.cabal-sandbox

# java ignore files
###############################################################################
out
*.class
